* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 20px;
  background: rgb(244, 247, 245);
  background: linear-gradient(
    90deg,
    rgb(228, 231, 229) 51%,
    rgba(45, 232, 125, 1) 100%
  );
}
